In [ ]:
# Libary - Pandas

In [25]:
import pandas as pa
import numpy as np

In [27]:
data = ['Hassan', '35', 'Male', '4.5']
header = ['Name', 'Age', 'Gender', 'Rating']
series = pa.Series(data, index=header)
print(series)

Name      Hassan
Age           35
Gender      Male
Rating       4.5
dtype: object

In [29]:
data2={
    'Name': ['Abdullah', 'Muhammad', 'Jahid', 'Hassan'],
    'Age': [24, 25, 23, 26],
    'Gender': ['Male', 'Male', 'Male', 'Male'],
    'Reatting': [3.7, 4.4, 3.9, 4.7]
}
data_field = pa.DataFrame(data2)
print(data_field)

       Name  Age Gender  Reatting
0  Abdullah   24   Male       3.7
1  Muhammad   25   Male       4.4
2     Jahid   23   Male       3.9
3    Hassan   26   Male       4.7

In [33]:
s = pa.Series(np.random.rand(1000))
print('Series')
print (s)
print('Frist 5 Elements')
print(s.head()) # Show the 1st n value. By defalt n=5
print('Last 3 value:')
print(s.tail(3)) # Show the Last n value. By defalt n=5
print('Descriptive statistical analisis:')
print(s.describe()) # Give Descrriptive paramitter (count, mean, std, min, max, 25%.....)

Series
0      0.766694
1      0.237657
2      0.943767
3      0.484220
4      0.766932
         ...
995    0.970916
996    0.017453
997    0.284891
998    0.007734
999    0.952587
Length: 1000, dtype: float64
Frist 5 Elements
0    0.766694
1    0.237657
2    0.943767
3    0.484220
4    0.766932
dtype: float64
Last 3 value:
997    0.284891
998    0.007734
999    0.952587
dtype: float64
Descriptive statistical analisis:
count    1000.000000
mean        0.488051
std         0.301399
min         0.000919
25%         0.223442
50%         0.483683
75%         0.763241
max         0.999560
dtype: float64

In [45]:
data = pa.read_csv('Py_Dj_Class-11_31-12-24_csv-file.csv')
print(data)
print(data.loc[[1, 3, 5], ['Name', 'Mobile']])

               Name  Age                        Email        Mobile
0          John Doe   28         john.doe@example.com  123-456-7890
1        Jane Smith   34       jane.smith@example.com  234-567-8901
2     Alice Johnson   26    alice.johnson@example.com  345-678-9012
3         Bob Brown   40        bob.brown@example.com  456-789-0123
4     Charlie Davis   22    charlie.davis@example.com  567-890-1234
5      David Wilson   30     david.wilson@example.com  678-901-2345
6        Emma Moore   38       emma.moore@example.com  789-012-3456
7      Frank Miller   29     frank.miller@example.com  890-123-4567
8         Grace Lee   33        grace.lee@example.com  901-234-5678
9       Henry White   25      henry.white@example.com  012-345-6789
10       Ivy Harris   31       ivy.harris@example.com  123-456-7891
11       Jack Clark   27       jack.clark@example.com  234-567-8902
12    Kara Martinez   32    kara.martinez@example.com  345-678-9013
13      Louis Allen   24      louis.allen@example.com  456-789-0124
14        Mona King   36        mona.king@example.com  567-890-1235
15     Nathan Scott   28     nathan.scott@example.com  678-901-2346
16     Olivia Adams   37     olivia.adams@example.com  789-012-3457
17       Paul Baker   41       paul.baker@example.com  890-123-4568
18     Quinn Walker   29     quinn.walker@example.com  901-234-5679
19     Rachel Green   35     rachel.green@example.com  012-345-6790
20     Samuel Perez   39     samuel.perez@example.com  123-456-7892
21      Tina Carter   33      tina.carter@example.com  234-567-8903
22  Ursula Mitchell   26  ursula.mitchell@example.com  345-678-9014
23   Victor Roberts   28   victor.roberts@example.com  456-789-0125
24      Wendy Evans   27      wendy.evans@example.com  567-890-1236
25     Xander Scott   30     xander.scott@example.com  678-901-2347
26      Yara Nelson   25      yara.nelson@example.com  789-012-3458
27      Zane Cooper   32      zane.cooper@example.com  890-123-4569
28      Alice Young   31      alice.young@example.com  901-234-5680
29       Ben Harris   24       ben.harris@example.com  012-345-6791
30      Chloe Allen   36      chloe.allen@example.com  123-456-7893
31     Daniel Clark   38     daniel.clark@example.com  234-567-8904
32        Eva Lopez   29        eva.lopez@example.com  345-678-9015
33   Freddie Wright   28   freddie.wright@example.com  456-789-0126
34       Grace Hall   30       grace.hall@example.com  567-890-1237
35    Hannah Walker   35    hannah.walker@example.com  678-901-2348
36   Isaac Gonzalez   25   isaac.gonzalez@example.com  789-012-3459
37   Jackie Collins   33   jackie.collins@example.com  890-123-4570
38    Kyle Mitchell   32    kyle.mitchell@example.com  901-234-5681
39    Lily Robinson   27    lily.robinson@example.com  012-345-6792
40    Matthew Lewis   26    matthew.lewis@example.com  123-456-7894
41      Nina Carter   29      nina.carter@example.com  234-567-8905
42      Oscar Green   34      oscar.green@example.com  345-678-9016
43      Pamela King   37      pamela.king@example.com  456-789-0127
44     Quincy Adams   33     quincy.adams@example.com  567-890-1238
45     Riley Nelson   28     riley.nelson@example.com  678-901-2349
46    Sophie Brooks   30    sophie.brooks@example.com  789-012-3460
47       Tommy Reed   40       tommy.reed@example.com  890-123-4571
48    Ursula Foster   29    ursula.foster@example.com  901-234-5682
49       Vera Green   27       vera.green@example.com  012-345-6793
50    Willie Hughes   25    willie.hughes@example.com  123-456-7895
51        Xena Ford   32        xena.ford@example.com  234-567-8906
52     Yasmin Price   31     yasmin.price@example.com  345-678-9017
53      Zoe Russell   28      zoe.russell@example.com  456-789-0128
           Name        Mobile
1    Jane Smith  234-567-8901
3     Bob Brown  456-789-0123
5  David Wilson  678-901-2345